* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}


/* side 1 */


.bilde1side {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Grid-oppsett */
.ftcontainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
    width: 100vw;
}

/* Boks-stiler */
.ftcontainer>div {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    transition: transform 0.3s;
    background-size: cover;
    background-position: center;
}

/* Bilder-boksen */
.bilder {
    background-color: #f5f5dc;
    color: #4169e1;
}

.bilder a {
    text-decoration: none;
    color: #4169e1;
}

/* Hover-effekt på boksen */
.bilder:hover {
    transform: scale(3.5);
    background-image: url('blipp/ras.webp');
    background-size: cover;
    ;

}


.b15:hover {
    background-image: url('blipp/ras.webp');
    background-size: cover;
    ;

}

.b19:hover {
    background-image: url('blipp/ras.webp');
    background-size: cover;
    ;

}

.b2:hover {
    background-image: url('blipp/ras.webp');
    background-size: cover;
    ;

}



.b1 {
    background-image: url('blipp/b1.webp');
}

.b2 {
    background-image: url('blipp/b2.webp');
}

.b3 {
    background-image: url('blipp/b3.jpg');
}

.b4 {
    background-image: url('blipp/b4.jpg');
}

.b5 {
    background-image: url('blipp/b5.png');
}

.b6 {
    background-image: url('blipp/b6.jpg');
}

.b7 {
    background-image: url('blipp/b7.webp.jpeg');
}

.b8 {
    background-image: url('blipp/b8.webp.jpeg');
}

.b9 {
    background-image: url('blipp/b9.jpg');
}

.b10 {
    background-image: url('blipp/b10.jpeg');
}

.b11 {
    background-image: url('blipp/b11.jpg');
}

.b12 {
    background-image: url('blipp/b12.jpg');
}

.b14 {
    background-image: url('blipp/b14.jpg');
}

.b15 {
    background-image: url('blipp/b15.jpg.webp');
}

.b16 {
    background-image: url('blipp/b16.jpeg');
}

.b17 {
    background-image: url('blipp/b17.jpg');
}

.b18 {
    background-image: url('blipp/b18.jpg');
}

.b19 {
    background-image: url('blipp/b19.jpg');
}

.b20 {
    background-image: url('blipp/b20.jpeg');
}

.b21 {
    background-image: url('blipp/b21.jpeg');
}

.b22 {
    background-image: url('blipp/b22.jpeg');
}

.b23 {
    background-image: url('blipp/b23.jpeg');
}

.b24 {
    background-image: url('blipp/b24.jpeg');
}

.b25 {
    background-image: url('blipp/b25.jpeg');
}




/* side 2 */
.hoved {
    text-align: center;
    font-size: 75px;
    font-weight: 500;
    font-family: "Crimson";

}




.topi {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    font-family: "Crimson";
    margin-top: 75px;
}

.bottom {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    font-family: "Crimson";
    margin: 30px;
}



.bitch {
    background-image: url("Bilder/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


/* toppbar */
.hjem {
    float: left;
    margin-top: 30px;
    margin-left: 10%;
    font-size: 70px;
    font-family: roboto, sans-serif;
    text-decoration-line: none;
    color: black;

}

.top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 0px;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px black;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);

}


#topelias {
    background-color: rgba(40, 40, 40, 0.5);
}

#topjep {
    background-color: rgba(40, 40, 40, 0.8);
}

#topjep:hover {
    background-color: white;

}

#topelias:hover {
    background-color: white;

}

.top:hover {
    background-color: white;
}

.top a,
.top span {
    margin: 0;
    padding: 25px;
    display: block;
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 15px;
}

.dropdownmenu a {
    font-size: 24px;
    color: black;
    text-decoration: none;
}


/* droppdown menu */
.dropdown {
    display: block;
    margin-left: 15px;
}

.dropdownmenu {
    position: absolute;
    right: 15px;
    top: 100%;
    background-color: white;
    min-width: 98%;
    z-index: 1;
    text-align: center;
    font-size: 10px;
    font-family: roboto, sans-serif;
    display: none;

}



.dropdown:hover .dropdownmenu {
    display: block;
}

.fity {
    height: 100%;
}


ion-icon {
    color: black;
    font-size: 50px;
}




/* boks imellom */

.section {
    box-sizing: border-box;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 0%;
    border-radius: 20px;
    width: 80%;
    margin-left: 10%;


}



.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
    padding: 100px;

}

.meg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28%;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #5D7290;
    height: 200px;
    border-radius: 20px;
}



.meg a {
    text-decoration: none;
    font-size: 70px;
    color: #7D3C98;

}



#boks1 {
    background-image: url("Bilder/elias.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#boks2 {
    background-image: url("Bilder/jeppe.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#boks3{
     background-image: url("Bilder/eddi.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}











.fit {
    width: 100%;

}

#footer .footer {
    background-color: #333333;
    color: #fff;
    padding: 20px 0;
    text-align: center
}

.p5 {
    text-align: center;
}

.footer ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: auto;
    list-style: none;

}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer li a:hover {
    text-decoration: underline;
}



/* side 3*/

.eliasbody {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(bilder/bilde1.jpg);
    background-size: cover;
}


.komphead {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
    color: white;
}

.komphead1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
}

.komp {
    display: flex;
    gap: 150px;
    margin: 20px 0;
    justify-content: center;

}


.komphead2 {
    font-size: 35px;
    text-align: center;
    color: black;
    padding-top: 10px;
}

.box {
    padding: 15px;
    border-radius: 30px;
    background-color: white;
    height: 300px;
    width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: solid rgb(242, 242, 242) 2px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.box:hover {
    transform: scale(1.1) translateY(-0px);
    background-color: #f0f8ff;
    text-decoration: none;
}

.kopp {

    text-decoration: none;
}


.p1 {
    font-size: 20px;
    text-align: center;
    color: black;
    line-height: 1.9;
    padding-top: 10px;
}


.row1 {
    display: flex;
    justify-content: center;
    overflow-x: auto;

}

.row1 img {
    height: 300px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;

}

.rowcontainer {
    width: 100%;
    overflow: hidden;
}


.slide img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.fade {
    animation: fadeIn 4s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 500px) {

    .top a,
    .top span {
        font-size: 12px;
    }

    .komphead {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .komphead1 {
        font-size: 30px;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .komphead2 {
        font-size: 25px;
    }

    .p1 {
        font-size: 16px;
    }

    .komp {
        flex-direction: column;
        gap: 20px;
    }

    .box {
        width: 75%;
        display: flex;
        justify-content: center;
        margin: auto;
        height: auto;
        padding: 10px;
        border-radius: 15px;
    }

    .row1 img {
        height: 200px;
        width: auto;
        margin: 5px;
    }

    .footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;

    }

    .footer ul li {
        margin-bottom: 10px;
    }

}

.footer {
    background-color: #191919;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-top: solid 1px #f0f8ff;
}

.p5 {
    text-align: center;
}

.footer ul {
    padding: 0;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: auto;
    list-style: none;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer li a:hover {
    text-decoration: underline;
}


/* side 4*/

/* Fullskjerm-layout */
.blaedi {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Grid-oppsett */
.fitcontainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: 100vh;
    width: 100vw;
}

/* Boks-stiler */
.fitcontainer>div {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    transition: transform 0.3s;
    background-size: cover;
    background-position: center;
}

/* Hover-effekt på boksen */
.bilder:hover {
    transform: scale(3.5);
    background-image: url('blipp/ras.webp');
    background-size: cover;
    ;

}




.b82 {
    background-image: url('blipp/ras.webp');
    background-size: cover;
    ;

}



/* bildepunkter*/

@import url('https://fonts.googleapis.com/css2?family=OpenSans:ital,wght@0,300..800;1,300..800&display=swap');

.jeppemain {
    margin-top: 30px;
    margin-bottom: 30px;
}

.jeppeaside {
    margin-top: 30px;
    margin-bottom: 30px;
}

.bakgrunn_side5 {
    animation: fadeIn 4s ease forwards;

}

.bildepunkter {
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: 'OpenSans', sans-serif;
}

.liten {
    text-align: center;
}

.bpcontainer {
    background-color: white;
    border-radius: 10px;
    width: fit-content;
    padding: 20px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.container_overskrift1 {
    font-size: 30px;
    font-family: 'OpenSans', sans-serif;
    text-align: center;

}


.container_underskrift1 {
    margin-top: 20px;
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    }

 .bildecontainer .container_underskrift {

    font-size: 15px;
    font-family: 'OpenSans', sans-serif;
    text-align: center;
}

.bildecontainer .container_underskrift {
    font-size: 15px;
    font-family: 'OpenSans', sans-serif;
    text-align: center;
}



#bilde {
    background-image: url(bilder/bilde_tre.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 50vh;
    border-radius: 10px;
}

.bilde_container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#bilde_tre {
    position: relative;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    border-radius: 50%;
    width: 5px;
    height: 5px;
    transition: width, 1.5s, heigth, 1.5s;
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
}

#bilde_tre:hover {
    padding: 0;
    top: 0;
    left: 0;
    border: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.boks {
    display: flex;
}

aside {
    flex: 1;
}

main {
    flex: 3;
}

.boks1 {
    background-color: white;
    font-size: 30px;
    display: none;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    width: fit-content;
    padding: 20px;
}

.bilde_smil {

    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin-left: 20px;
}

.bakgrunn_side5 {
    background-image: url(bilder/bakgrunn.jpg);
}

button {
    border: none;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    margin-top: 5px;
}


button:hover {
    background-color: #f5f5dc;
    box-shadow: 0px 0px 8px whitesmoke;
}


aside {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* side 6*/

.fadeed {
    animation: fadeIn 4s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.eddi {
    background-image: url(bilder/fuglebilde.webp);
    background-size: cover;
}

.boks67 {
    border: 5px solid #ffffff;
    background-color: #81929b;
    width: 500px;
    height: 300px;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-left: 150px;
    border-radius: 25px;
    box-shadow: 0px 4px 8px black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;


}

.boks67:hover {
    transform: scale(1.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.rgb img {
    margin-left: 750px;
    margin-top: -150px;
    width: 500px;
    height: 300px;
    box-shadow: 0px 4px 8px black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 25px;


}

.rgb img:hover {
    transform: scale(1.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.overskrift {
    text-align: center;
    font-size: 70px;
    color: rgb(255, 255, 255);
    font-size: 80px;
    text-align: center;
    border: 3px solid rgb(255, 255, 255);
    background-color: #81929b;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 4px 8px black;
    transition: background 1.0s ease-in-out;
    margin-left: 20px;
    margin-right: 20px;
}

.overskrift:hover {
    background: linear-gradient(90deg, #f72b2b, #47ff3d, #445ce5);

}

.teksten {
    color: #ffffff;
}

@media (max-width: 500px) {
    body {
        background-size: contain;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .boks {
        width: 90%; /* Tilpass bredden til skjermen */
        height: auto; /* Gjør høyden fleksibel */
        margin: 20px auto; /* Sentrer boksen */
        font-size: 14px;
        box-shadow: 0px 2px 4px black;
    }

    .boks:hover {
        transform: scale(1.1); /* Mindre ekspansjon ved hover */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    img {
        margin: 20px auto; /* Sentrer bildet */
        width: 90%; /* Tilpass bredden til skjermen */
        height: auto; /* Oppretthold proporsjoner */
        box-shadow: 0px 2px 4px black;
    }

    img:hover {
        transform: scale(1.1); /* Mindre ekspansjon ved hover */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .overskrift {
        font-size: 50px;
        margin-top: 20px;
        text-align: center;
    }
}
